#root {
  display: grid;
}
.page {
  display: flex;
  place-self: center;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
  width: 70%;
  min-width: 330px;
}
@media screen and (max-width: 1024px) {
  .page {
    min-height: unset;
    width: 80%;
  }
}
@media screen and (max-width: 648px) {
  .page {
    padding-top: 0.75rem;
    padding-bottom: 3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.page > h1 {
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
}
